<#/org/uigl/veemanage/httpd/templates/header.inc.html>
		<div id="login">
			<p><$error_text></p>
			<form method="post" action="/login/">
				<table>
					<tr>
						<td>
							<label for="username">Username</label>
							<input type="text" name="username" id="username" maxlength="100" />
						</td>
						<td>
							<label for="password">Password</label>
							<input type="password" name="password" id="password" />
						</td>
					</tr>
				</table>
				<input type="submit" value="Sign In" />
			</form>
		</div>
<#/org/uigl/veemanage/httpd/templates/footer.inc.html>
